# Add project dependencies here
streamlit[auth]==1.56.0
dotenv
pandas
supabase
Authlib==1.6.11

boto3

braintree

google-api-python-client
google-auth-httplib2
google-auth-oauthlib

langchain-core
langchain-openai
langsmith

langgraph

atlassian-python-api
markdownify
posthog

youtube-transcript-api

markitdown[all]
pytest

agentmail

python-dotenv

tiktoken
